arrow
beautifulsoup4
cairosvg
coverage
cryptography
curl_cffi
defusedxml
diskcache
django>=5.0
django-admincommand @ git+https://github.com/rphlo/django-admincommand.git
django-allauth
django-background-tasks @ git+https://github.com/rphlo/django-background-tasks@6b247d0b3a7565613656d0ec07b55f6c66aa03cc
django-bootstrap5 @ git+https://github.com/rphlo/django-bootstrap5.git
django-compressor
django-cors-headers
django-csp
django-environ
django-health-check
django-hijack
django-hosts
django-markdownify
django-minify-html
django-oauth-toolkit
django-permissions-policy
django-qr-code
django-s3-storage
django-user-sessions @ git+https://github.com/jazzband/django-user-sessions@1ad42f36758251f221e976683eca91a8c79df09e
djangorestframework
drf-orjson-renderer
drf-yasg
geoip2
geojson-validator
gps-data-codec @ git+https://github.com/routechoiceslivegps/gps-data-codec
gpxpy
gunicorn
pillow-jxl-plugin
kagi @ git+https://github.com/rphlo/kagi@9d02f068abf0963575819455f2e3f05888726153
lxml
numpy
opencv-python
orjson
pillow
psycopg[binary,pool]
python-magic
sentry-sdk[django]
setuptools
sewer @ git+https://github.com/rphlo/sewer@0.8.4b
tornado
pyproj
reverse-geocode
emoji-country-flag
