{% extends "base.html" %}
{% load compress django_bootstrap5 hosts static %}
{% block head_title %}Pricing | Routechoices — Live GPS Tracking{% endblock %}

{% block extra_head %}
    {{ block.super }}
    {% compress css %}
        <link rel="stylesheet"
              href="{% static 'styles/site/pricing.css' %}?_=2021100200" />
    {% endcompress %}
{% endblock extra_head %}

{% block contentup %}
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="w-100"
                 style="background-image: linear-gradient(0, var(--rc-gradient-filter), var(--rc-gradient-filter)), linear-gradient(120deg, #cad698cc 0%, #98d6a6cc 100%)">
                <div class="container content" style="min-height: 100px">
                    <div class="row text-center font-weight-bold">
                        <h1 style="font-family: Atkinson Hyperlegible, sans-serif;font-weight: 700">Pricing</h1>
                    </div>
                </div>
            </div>
            <svg xmlns="http://www.w3.org/2000/svg"
                 viewBox="0 0 1 1"
                 width="100%"
                 height="2em"
                 preserveAspectRatio="none"
                 fill="var(--bs-body-bg)"
                 style="margin-top: -2em"
                 class="p-0">
                <path d="M0 0 V1 H1" />
            </svg>
        </div>
    </div>
    <div class="container content">
        <div class="row text-center">
            <div class="col-12 mx-auto">
                <div class="card border-0 shadow rounded-3 my-3">
                    <div class="card-body p-4 p-sm-5 mb-5">
                        <div id="generic_price_table" class="mb-5">
                            <div class="row d-grid justify-content-center">
                                <div style="width: 320px;">
                                    <div class="generic_content active clearfix rounded-5">
                                        <div class="generic_head_price clearfix">
                                            <div class="generic_head_content clearfix">
                                                <div class="head_bg"></div>
                                                <div class="head">
                                                    <span><i class="fa-brands fa-web-awesome"/></span>
                                                </div>
                                            </div>
                                            <div class="generic_price_tag clearfix">
                                                <span class="price">
                                                    <span class="currency">7</span>
                                                    <span class="cent">.99</span>
                                                    <span class="sign">€</span>
                                                    <span class="cent">/Mo<small class="text-muted" style="font-size: 0.7rem">+ VAT</small></span>
                                                </span>
                                            </div>
                                        </div>
                                        <div class="generic_feature_list">
                                            <ul>
                                                <li>
                                                    <span>Create public, secret or private, events</span>
                                                </li>
                                                <li>
                                                    <span>Use your own maps</span>
                                                </li>
                                                <li>
                                                    <span>Have an unlimited amount of collaborators</span>
                                                </li>
                                                <li>
                                                    <span>Host your pages on a custom domain name</span>
                                                </li>
                                                <li>
                                                    <span>Enjoy an ad-free experience</span>
                                                </li>
                                            </ul>
                                        </div>
                                        <!--//FEATURE LIST END-->
                                        <!--BUTTON START-->
                                        <div class="generic_price_btn clearfix">
                                            <a href="{% host_url 'site:account_signup' host 'www' %}">Sign up</a>
                                        </div>
                                        <!--//BUTTON END-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mt-5 mb-1">
                            <h1 class="text-center fw-bold">Frequently asked questions</h1>
                        </div>
                        <div class="col-lg-6 offset-3">
                            <p class="text-muted text-center mb-5">about Routechoices.com subscriptions and billing</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">Do I need a credit card to sign up?</h3>
                                    <p class="context-text">No. We won't ask for any payment information until you decide to subscribe to a plan.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">Will I get a trial period to test the features?</h3>
                                    <p class="context-text">
                                        Yes. It's enabled automatically when you create your first club. It does not require a credit card and lasts for 10 days. When the free trial period is over, you can continue with a paid plan.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">Is there a minimum subscription period?</h3>
                                    <p>
                                        The minimum subscription period is 1 month. You are free to cancel its renewal at any time. Your subscription will be active until the end of the period you paid for.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">What happen when I end my subscription?</h3>
                                    <p>Once your subscription expire, at the end of the paying period, you will not be able to edit old events or create new events, all your past events will stay online.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">Do each club member need a subscription?</h3>
                                    <p class="context-text">No. The members you assign to your club have their contributions included your club plan.</p>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-12">
                                <div class="py-4 px-3 px-lg-5">
                                    <h3 class="content-title-l3">Do I need to pay something to watch events?</h3>
                                    <p>
                                        No. The organisers are the only one required to pay something. All the spectators have the same access to the events.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contentup %}
